<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cigar's Name</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td name="clientFirstName"><%= dataClient.formatName() %></td>
            <td name="cigarName"><%= dataCigar.name %></td>
            <td name="cigarPrice"><%= formatMoney(dataCigar.price) %></td>
        </tr>
    </tbody>
  </table>
  <form action="/dashboard/transaction/<%= dataCigar.id %>" method="POST">
      <button>payment</button>
  </form>
  <form action="/dashboard/transaction/<%= dataCigar.id %>" method="POST">
    <button>pending</button>
</form>
<a href="/dashboard">back to dashboard</a>
</body>
</html>

